/*
#4b379a RGB rgb(75, 55, 154) 
#be5ede RGB rgb(190, 94, 222)
*/
:root {
    font-size: calc(0.5em + 1vh); 
}

body {
    background-color: #4b379a;
}

* {
    box-sizing: border-box;
  }

.cont {
    background-image: linear-gradient(to right, rgba(75, 55, 154, 0.8), rgba(190, 94, 222, 0.8)), url(img/img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

p, h1, h4, h3,a {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}

.logo {
    text-shadow: 0.08em 0.08em #000000;
    /*For icon*/
    font-size: 3em;
}

.logo a {
    color: #ffffff;
    text-decoration: none;
}

.superior {
    display: grid;
    grid-template-columns: auto auto;
    margin: 2em;
    align-items: center;
    padding: 1em;
}

.menu ul li {
    display: inline;
    list-style: none;
    padding: 1em;
}

.tittle {
    font-size: 4em;
    margin: 0.5em;
}

.menu ul li a {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0.08em 0.08em #000000;
}

.b_central {
    display: inline-block;
    border: 1px solid #ffffff;
    border-radius: 2em;
    padding: 1em 3em;
    text-decoration: none;
    color: #ffffff;
    margin: 2em;
}

.portada {
    display: flex;
    color: #ffffff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.portada h4 {
    text-transform: uppercase;
    margin: 0%
}

.portada h1 {
    text-transform: capitalize;
    margin: 0%;
    font-size: 5em;
    font-weight: 100;
}

.fa-arrow-right {
    padding: 0em 1em;
}

.b_central:hover {
    background-image: linear-gradient(to bottom right, #4b379a, #be5ede);
}

.container {
    margin: 5em auto;
    max-width: 1440px;
    width: 80%;
}

main {
    background-color: #ffffff;
}
/* Contenedor del abstract */
.reason {
    display: grid;
    grid-template-columns: auto auto;
    padding: 2em;
    justify-content: center;
    align-items: center;
    grid-column-gap: 2em;
    background-color: #f9f9ff;
}

.reason_ {
    display: inline-block;
}
.b_1 {
    display: inline-block;
    color: #ffffff;
    padding: 1em 3em;
    text-decoration: none;
    border-radius: 2em;
    background-image: linear-gradient(to bottom right, #4b379a, #be5ede);
}

.imagen_reason {
    width: 30em;
    height: auto;
    border-radius: 3px;
}

.paralax {  
    color: #ffffff;
    margin-left: 50%;
    padding: 5em 0em 5em 0em;
}

.back_para {
    background-image: url(img/img1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.abstract {
    text-shadow: 0.08em 0.08em #000000;
}
/* Gallery */

.g1 {
    border-radius: 4px;
    padding: 10em 2em; 
    margin-top: 3em;
    margin-left: 2em;
    background-image: url(img/g1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.g2 {
    border-radius: 4px;
    padding: 10em 2em;
    margin-top: 3em;
    margin-right: 2em;
    background-image: url(img/g2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.g3 {
    border-radius: 4px;
    padding: 10em 2em;
    margin-bottom: 3em;
    margin-left: 2em;
    background-image: url(img/g3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.g4 {
    border-radius: 4px;
    padding: 10em 2em;
    margin-bottom: 3em;
    margin-right: 2em;
    background-image: url(img/g4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.gallery div p {
    visibility: hidden;
    color: #ffffff;
}

.gallery div:hover p{
    visibility: visible;
}

.g1:hover {
    background-image: linear-gradient(to right, rgb(75, 55, 154), rgb(190, 94, 222));
}

.g2:hover {
    background-image: linear-gradient(to right, rgb(75, 55, 154), rgb(190, 94, 222));
}

.g3:hover {
    background-image: linear-gradient(to right, rgb(75, 55, 154), rgb(190, 94, 222));
}

.g4:hover {
    background-image: linear-gradient(to right, rgb(75, 55, 154), rgb(190, 94, 222));
}

.gallery {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 3em;
    grid-column-gap: 3em;
    background-color: #ffffff;
}
/* Formulario */

.formulario {
    background-image: linear-gradient(to right,  rgba(75, 55, 154, 0.8), rgba(190, 94, 222, 0.8)), url(img/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 70%;
    justify-content: center;
    padding: 1em;
}

.intro_M p {
    color: #ffffff;
}

.intro_M h4 {
    color: #ffffff;
}

.area {
    display: block;
    margin-bottom: 1em;
    width: 100%;
    background: transparent;
    border: 1px solid #be5ede;
    border-radius: 2px;
    height: 4em;
}

.input_f {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 2em;
}

.area::placeholder{
    color:#ffffff;
}

.b_form {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    border: 1px solid #ffffff;
    border-radius: 2em; 
    padding: 1em 2em;
    background-color: #ffffff;
}

.b_form:hover {
    background-image: linear-gradient(to right,  rgba(75, 55, 154, 0.8), rgba(190, 94, 222, 0.8))
}

/* Suscribe */
.suscription {
    background-color: #f9f9ff;
    padding: 6em;
}

.incrip {
    display: grid;
    grid-template-columns: 60% auto;
    background-color:#ffffff;
    padding: 0.3em;
    border: 1px solid #ffffff;
    border-radius: 2em;
}

.text_s {
    height: 4em;
    border: 1px solid #ffffff;
    border-radius: 2em;
}

.sus_margin {
    margin-left: 10em;
    margin-right: 10em;
}
/* Footer */

footer {
    margin: 0%;
    background-color: #222222;
    padding: 5em;
}

.footer_list ul li{
    display: inline-block;
    color: #ffffff;
    padding: 0.5em;
}

.footer_list ul li a{
    display: inline-block;
    color: #ffffff;
    padding: 0.5em;
}

.footer_list ul li a:hover{
    color: #be5ede;
}

.footer_list ul li:hover{
    color: #be5ede;
}

.copy {
    display: inline;
    color: #ffffff;
}

.footer_color {
    color: #be5ede;
}

.fa-heart {
    color: #be5ede;
}

.By_creator {
    text-decoration: none;
}

@media only screen and (max-width: 1100px){

    .reason {
       display: flex;
       flex-direction: column-reverse
    }

    .reason > div:nth-of-type(2) {
        margin: -32px -32px 0 -32px;

    }

    .reason > div:nth-of-type(2) img {
        width: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 0;
    }
}

@media only screen and (max-width: 1200px){
    .gallery {
        display: flex;
        flex-direction: column-reverse;
        margin: 0em;  

    }
    
    .g1 {
        margin-top: 0em;
        margin-left: 0em;
        object-position: center;
        border-radius: 0px;
        
    }
    
    .g2 {
        margin-top: 0em;
        margin-right: 0em;
        object-position: center;
        border-radius: 0px;
    }
    
    .g3 {
        margin-bottom: 0em;
        margin-left: 0em;
        object-position: center;
        border-radius: 0px;
    }
    
    .g4 {
        margin-bottom: 0em;
        margin-right: 0em;
        object-position: center;
        border-radius: 0px;
    }
    .sus_margin{
        margin: 0%;
    }
    
}

@media only screen and (max-width:1000px){
    .container {
        margin: 0%;
        width: 100%;
        padding: 0%;
    }
    * {
        margin: 0%;
        padding: 0%;
    }
    .superior {
        margin: 0%;
    }
}

@media only screen and (max-width:1500px){
    .incrip {
        display: grid;
        grid-auto-rows: auto;
    }
    .incrip a{
        display: block;
    }
    .incrip input {
        display: inline-block;
    }
}